[package]
name = "hyperspot-server"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[lints]
workspace = true

[features]
default = []
users-info-example = ["dep:users_info"]
oop-example = ["dep:calculator_gateway"]
otel = ["modkit/otel", "modkit-bootstrap/otel"]

[[bin]]
name = "hyperspot-server"
path = "src/main.rs"

[dependencies]
mimalloc = { version = "0.1" }
# Local crates
modkit-bootstrap = { path = "../../libs/modkit-bootstrap" }
modkit = { path = "../../libs/modkit", features = ["otel"] }
modkit-db = { path = "../../libs/modkit-db", features = ["sqlite"] }

# System modules
api_ingress = { path = "../../modules/api_ingress" }
grpc_hub = { path = "../../modules/grpc_hub" }
module_orchestrator = { path = "../../modules/module_orchestrator/module_orchestrator" }

# user modules
file_parser = { path = "../../modules/file_parser" }
nodes_registry = { path = "../../modules/nodes_registry" }

anyhow = { workspace = true }
tokio = { workspace = true }
tokio-util = { workspace = true, features = ["rt"] }
tracing = { workspace = true }
clap = { workspace = true }
serde_json = { workspace = true }
figment = { workspace = true, features = ["yaml", "env"] }
uuid = { workspace = true }

# SQLx for driver registration workaround
sqlx = { workspace = true, features = ["postgres", "sqlite"] }

# Optional example module
users_info = { path = "../../examples/modkit/users_info/users_info", optional = true }
calculator_gateway = { path = "../../examples/oop-modules/calculator_gateway/calculator_gateway", optional = true }

[dev-dependencies]
tempfile = { workspace = true }
