name: Docs

on:
  pull_request:
    branches: [ main ]
    paths:
      - '**/*.md'
      - 'docs/**'
      - 'guidelines/**'
  workflow_dispatch:

concurrency:
  group: docs-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  markdown_links:
    name: Check Markdown Links
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          clean: 'true'
          submodules: recursive

      - name: Install lychee
        uses: taiki-e/install-action@30eab0fabba9ea3f522099957e668b21876aa39e # v2.66.6
        with:
          tool: lychee

      - name: Check markdown links
        run: make lychee
